* {
  transition: all 0.1s ease-in;
}
body {
  background-color: #3b3f45;
  margin: 0;
  font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif;
  color: white;
}
header {
  background-color: #4a4f56;
  height: 100px;
  text-align: center;
}
h1 {
  padding-top: 10px;
  margin-top: 0;
  color: #eb7e7f;
  font-size: 40px;
  margin-bottom: 0;
}
p {
  font-size: 20px;
  margin-top: 0.5em;
  color: #eb7e7f;
}

/*main {
  width: 600px;
  max-width: 100%;
  padding: 0 15px;
  margin: 50px auto;
}*/
.conteiner {
  width: 600px;
  max-width: 100%;
  padding: 0 15px;
  margin: 50px auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h2 {
  display: inline;
  font-weight: 500;
  margin: 0;
}
[type="checkbox"] {
  display: inline;
  zoom: 1.5;
}
span {
  display: inline;
  font-size: 12px;
  vertical-align: text-top;
}
li div {
  display: inline-block;
}
li {
  padding: 15px 0 15px 10px;
}
li:nth-child(even) {
  background-color: #7a7593;
}
li:nth-child(odd) {
  background-color: #88839e;
}
button {
  height: 70px;
  width: 100%;
  margin-top: 30px;
  background-color: #4a4f56;
  border: none;
  font-size: 23px;
  color: #eb7e7f;
}
li:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: #625e77;
}
li:active {
  background-color: tomato;
}
input:checked + label {
  text-decoration: line-through;
  color: lightgray;
}
